<div class="jumbotron">
    <h1>QuizOfKings</h1>
</div>
<div class="row" dir="rtl">
    <div class="col-md-4">
        <h2>اين يك پروژه دانشگاهي است!</h2>
    </div>
    <div class="col-md-4">
        <h2>آيا اهل بازي و سرگرمي هستيد؟</h2>
           </div>
    <div class="col-md-4">
        <h2>اطلاعات عمومي خودتو در چه حد ميدوني !</h2>
           </div>
</div>
